<launch>
    <arg name = "rviz" default = "true"/>

    <node pkg = "conti_ars408_back2" type = "conti_ars408_back2_ros" name = "conti_ars408_back2_ros" output = "screen">
    </node>

    <group if = "$(arg rviz)">
        <node pkg = "conti_ars408_back2" type = "conti_ars408_back2_rviz" name = "conti_ars408_back2_rviz"/>
        <node pkg = "rviz" type = "rviz" name = "radar_back2_rviz" args = "-d $(find conti_ars408_back2)/rviz_cfg/conti_ars408_back2.rviz"/>
    </group>

</launch>